body{
    background-color: #124a81b0;
}

a{
    color: #000000;
}

details{
    flex-wrap: wrap;
}

div{
    text-align: center;
}

h1{
    text-align: center;
}

h3{
    text-align: left;

}

hr{
    background-color: black;
    color: black;
    border-width: 0px;
    height: 1px;
}

p{
    font-size: 115%;
    flex-wrap: inherit;
}

summary{
    text-align: left;
    font-size: 135%;
    font-weight: bold;
}

li{
    font-size: 110%;
}

#contact{
    text-align: center;
}